# configs and git
.git/
.gitignore
.idea/

# python and docker
.venv/
.env
Dockerfile
docker-compose.yml
__pycache__/

# data folders
data/
data-raw/
data-clean/
data-private/
data-public/

# macos
.DS_Store