# configs and git
.git/
.gitignore
.idea/

# python and docker
.venv/
.env
Dockerfile
docker-compose.yml
dockerhub-publish.sh
__pycache__/

notebooks/
docs/
k8s/

# data folders
staging.db
data/
data-raw/
data-clean/
lib/data-private/
lib/data-public/

# macos
.DS_Store
.Trash-0/