# configs and git
.git/
.idea/

# python
.venv/
.env
__pycache__/
.ipynb_checkpoints

# data folders
staging.db
data/
data-raw/
data-clean/
data-private/
data-public/

# macos
.DS_Store
.Trash-0/

staging.duckdb*